set_status_header , missing stati

using the REST_Controller, it uses some semantic header status messages that are not supported by codeigniter:

const HTTP_PROCESSING = 102;            // RFC2518
const HTTP_MULTI_STATUS = 207;          // RFC4918
const HTTP_ALREADY_REPORTED = 208;      // RFC5842
const HTTP_IM_USED = 226;               // RFC3229

const HTTP_PERMANENTLY_REDIRECT = 308;  // RFC7238

const HTTP_I_AM_A_TEAPOT = 418;                                               // RFC2324
const HTTP_LOCKED = 423;                                                      // RFC4918
const HTTP_FAILED_DEPENDENCY = 424;                                           // RFC4918
const HTTP_RESERVED_FOR_WEBDAV_ADVANCED_COLLECTIONS_EXPIRED_PROPOSAL = 425;   // RFC2817
const HTTP_UPGRADE_REQUIRED = 426;                                            // RFC2817
const HTTP_PRECONDITION_REQUIRED = 428;                                       // RFC6585
const HTTP_TOO_MANY_REQUESTS = 429;                                           // RFC6585
const HTTP_REQUEST_HEADER_FIELDS_TOO_LARGE = 431;                             // RFC6585
const HTTP_VARIANT_ALSO_NEGOTIATES_EXPERIMENTAL = 506;                        // RFC2295
const HTTP_INSUFFICIENT_STORAGE = 507;                                        // RFC4918
const HTTP_LOOP_DETECTED = 508;                                               // RFC5842
const HTTP_NOT_EXTENDED = 510;                                                // RFC2774
const HTTP_NETWORK_AUTHENTICATION_REQUIRED = 511;

if you added these to Common.php::set_status_header it would be great.
thanks




I've added 426 "Upgrade Required" from [RFC 2817](https://tools.ietf.org/html/rfc2817) and the missing ones from [RFC 6585](https://tools.ietf.org/html/rfc6585) (428, 429, 431, 511).

However, the others that you've listed we won't support ...

- 102 is part of WebDav, which we just don't support
- 207 is again WebDav
- 208 is EXPERIMENTAL, as well as being again WebDav-related; we don't support RFCs with the EXPERIMENTAL status
- 226 is a very rare *extension*, practically useless for CodeIgniter applications
- 308 is EXPERIMENTAL
- 418 defines the "Hyper Text Coffee Pot Control Protocol" - an April's Fools joke RFC ...
- 422-424 are again WebDav
- 425 is not defined, but *referenced* by 2817, and that reference is to a WebDav DRAFT (a draft is something that doesn't even have an RFC number yet)
- 506 is EXPERIMENTAL
- 507 is WebDav
- 508 is EXPERIMENTAL WebDav
- 510 is EXPERIMENTAL too

As you'd probably notice, these things require significant research efforts. Please do that yourself next time, if you indeed wish something to be added to a project - I just happened to have some spare time right now.

Also, just noting this - there's no such thing as "the REST_Controller" in CodeIgniter and I can only assume it is some third-party package.